@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a programming exercise required for admittance at Volvo, for a position as Professional Software Engineer.</p>
</div>
