@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This entire web application was developed by Felipe Lopes Zem. If you wish to contact me, here is my <a href="https://www.linkedin.com/in/zemfelipelopes/">LinkedIn</a>.
</p>
